* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

button {
  appearance: none;
  background: transparent;
}

body {
  --create-button-background-color: #007bff;
  --create-button-background-color-hover: #0069d9;
  --success-background-color-hover: #449d44;
  --success-border-color-hover: #398439;
  --error-background-color-hover: #c82333;
  --error-border-color-hover: #bd2130;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  max-width: 768px;
  width: 100%;
}

.container__input {
  padding: 4px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.container__list {
  border-radius: 0.25rem;
  box-shadow: 0 0 3px 0 #00000055, 0 1px 3px 0 #00000044;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.container__input__form__label {
  display: block;
  margin-bottom: 4px;
}

.container__input__form__interactive {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.container__input__form__interactive__input {
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 #00000055;
  font-size: 1rem;
  font-weight: 500;
  flex: 1;
  margin-right: 4px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-top: 8px;
}

.container__input__form__interactive__button,
.container__list__item__buttons__button {
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 #00000055;
  cursor: pointer;
  height: 32px;
  transition: background-color 0.15s ease-in-out,
    background-image 0.15s ease-in-out, border-color 0.15s ease-in-out;
  width: 32px;
}
.container__list__item__buttons__button:last-child {
  margin-left: 8px;
}

.container__input__form__interactive__button {
  background-color: var(--create-button-background-color);
  background-image: url('img/baseline-add_circle-24px.svg');
  border: 1px solid var(--create-button-background-color);
}

.container__input__form__interactive__button:hover {
  background-color: var(--create-button-background-color-hover);
  border: 1px solid var(--create-button-background-color-hover);
}

.container__list__item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.container__list__item:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.container__list__item {
  align-items: center;
  border: 1px solid #ced4da;
  display: flex;
  justify-content: space-between;
  margin-top: -1px;
  padding: 4px;
}

.container__list__item__text {
  align-items: center;
  font-size: 1rem;
  margin-right: 4px;
  width: 100%;
  padding: 8px;
  overflow: hidden;
  word-wrap: break-word;
}

.container__list__item__buttons {
  display: flex;
  flex-direction: row;
}

.container__list__item__buttons__button--edit {
  background-color: #f8f9fa;
  background-image: url('img/baseline-edit-24px.svg');
  border: 1px solid #f8f9fa;
}

.container__list__item__buttons__button--edit:hover {
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

/* .container__list__item__buttons__button--finished {
  background-color: #5cb85c;
  background-image: url('img/baseline-check_circle-24px.svg');
  border: 1px solid #4cae4c;
} */

.container__list__item__buttons__button--editing {
  background-color: var(--create-button-background-color);
  background-image: url('img/baseline-edit_white-24px.svg');
  border: 1px solid var(--create-button-background-color);
}

.container__list__item__buttons__button--editing:hover {
  background-color: var(--create-button-background-color-hover);
  border-color: var(--create-button-background-color-hover);
}

.container__list__item__buttons__button--delete {
  background-color: #dc3545;
  background-image: url('img/baseline-delete-24px.svg');
  border: 1px solid #dc3545;
}

.container__list__item__buttons__button--delete:hover {
  background-color: var(--error-background-color-hover);
  border-color: var(--error-border-color-hover);
}

.snackbar {
  align-items: center;
  border: 1px solid #000;
  box-shadow: 0 0 3px 0 #00000055, 0 1px 3px 0 #00000044;
  border-radius: 4px;
  bottom: 8px;
  display: flex;
  justify-content: space-between;
  max-width: 768px;
  padding: 8px 16px 8px 16px;
  position: fixed;
  width: 90%;
}

.snackbar--log {
  background-color: var(--create-button-background-color-hover);
  border-color: var(--create-button-background-color-hover);
}

.snackbar--info {
  background-color: var(--success-background-color-hover);
  border-color: var(--success-border-color-hover);
}

.snackbar--error {
  background-color: var(--error-background-color-hover);
  border-color: var(--error-border-color-hover);
}

.snackbar--show {
  transform: translateY(0);
  transition: transform 0.4s cubic-bezier(0, 0, 0.2, 1);
}

.snackbar--hide {
  transform: translateY(calc(100% + 8px));
  transition: transform 0.4s cubic-bezier(0.4, 0, 1, 1);
}

.snackbar__message {
  color: #fff;
  max-width: 80%;
  word-wrap: break-word;
}

.snackbar__button {
  background-image: url('img/baseline-close-24px.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  outline: none;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  width: 40px;
}

.snackbar__button:hover {
  background-color: #00000022;
}
